html,
body {
  margin: 0;
}
* {
  font-family: 'Nanum Gothic', sans-serif;
}
header {
  width: 100vw;
  height: 4vh;
  background-color: #888;
}
#navlist {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding-left: 8px;
  display: flex;
}
#navlist > li {
  font-size: 0.8em;
  font-weight: 400;

  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 20px;
}
#navlist > li > a {
  color: #fff;
  text-decoration-line: none;
}
main {
  margin-left: 30px;
  margin-right: 30px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#study,
#skills {
  float: right;
}
footer {
  font-size: 0.8em;
  width: 100vw;
  background-color: #888;
  color: white;
  bottom: 0px;
  position: absolute;
  padding: 15px 0 15px 0;
}
footer > div {
  margin-left: 15px;
}
